imageio==2.5.0
imgaug==0.3.0
matplotlib==3.1.1
networkx==2.3
Pillow==8.3.2
scikit-image==0.15.0
scikit-learn==0.21.3
Shapely==1.7.1
tensorflow==2.1.0
efficientnet==1.1.0
numpy==1.17.2
pandas==0.25.1
tqdm==4.62.3
